@{
  ViewData["Title"] = $"Details for {Model.MessageName}";
}

<h1>All About @Model.MessageName</h1>

<p>Date/Time: @Model.Date</p>


<p>@Html.ActionLink("Edit details", "Edit", new { id = @Model.PostId })</p>
<p>@Html.ActionLink("Delete post", "Delete", new { id = @Model.PostId })</p>
<p>@Html.ActionLink("Return to all Messages", "Index")</p>